@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
}

.terminal {
    background-color: #30353A;
    width: 600px;
    height: 370px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    opacity: 0.9;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 13px 0px rgba(157,174,190,1);
}

.terminal .bar {
    background-color: #E0E8F0;
    text-align: center;
}

.terminal .bar .title {
    color: #30353A;
    padding: 5px;
}

.terminal .content {
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    margin: 10px auto;
    overflow: auto;
}

.terminal .content .line {
    color: #E0E8F0;
    display: block;
    font-size: 14px;
}

.terminal .content .error {
    color: RED;
    display: block;
    font-size: 14px;
}

.terminal .content input[type=text] {
    background-color: transparent;
    border: none;
    color: #E0E8F0;
    font-size: 14px;
    width: calc(100% - 20px);
}

.terminal .content label {
    color: white;
    font-size: 14px;
}

::-webkit-scrollbar {
	width: 0;
}
